<h3>Leave a comment</h3>

<%= form_for(comment) do |f| %>
<!-- pola ukryte sa po to bo wywolanie tego formularza w partialu w mem/show html erb wysyla id tylko do formularza a potem z formularza POST do create -->
	<p>
		<%= f.hidden_field :mem_id %>
	</p>
	<p>
		<%= f.hidden_field :user_id %>
	</p>
	<p>
		<%= f.label :content %><br>
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.submit 'Submit', class: 'btn btn-success' %>
	</p>
<% end %>